.block
	display: flex
	// remove this

.container
	max-width: 940px
	margin: 0 auto

.header
	&__wrap
		display: flex
		text-align: left
		padding: 22px 0
	&__logo
		background: green
	&__nav
		background: red
		margin-left: auto

.logo
	font-size: 36px
	color: #e8603c
	text-decoration: none
	&__part2 
		color: #f3af9d