@import vars

.container
	max-width: 940px
	margin: 0 auto
	+r(960)
		margin: 0 10px

.header
	&__wrap
		display: flex
		text-align: left
		padding: 22px 0
		align-items: baseline
	&__logo
	&__nav
		margin-left: auto

.logo
	font-size: 0
	color: $orange-color
	text-decoration: none
	+bebas
	&__part1, &__part2
		display: inline-block
		font-size: 36px
	&__part2 
		color: #f3af9d

.nav 
	font-size: 16px
	position: relative
	top: -6px
	+bebas
	a 
		text-decoration: none
		color: #b9b9b9
		margin-left: 24px
		&.is-active, &:hover
		 color: $orange-color

.slider
	position: relative
	&__slide
		height: 0
		padding-bottom: 42%
	&__next, &__prev
		position: absolute
		top: 43%
		left: 3%
		cursor: pointer
		z-index: 100
		font-size: 54px
	&__next
		left: auto
		right: 20px
		transform: rotate(-180deg)

.slide
	position: relative
	height: 0
	padding-bottom: 42%
	.slide__content
		position: absolute
		padding: 20px 30px
		background: rgba(232,102,60,.8)
		left: 37px
		bottom: 31px
		max-width: 416px
	&__title
		font-size: 18px
		color: #ffffff
		text-decoration: none
		text-transform: uppercase
		margin-bottom: 14px
		+bebas
	p 
		font-size: 12px
		line-height: 1.4
		color: #ffffff
		

.hero
	overflow: hidden
	&__wrap
		position: relative
		&:before, &:after
			position: absolute
			height: 60px
			background: #f2ae9c
			content: ""
			width: 1000px
			top: 0
		&:before
			right: 100%
			margin-right: 10px
		&:after
			left: 100%
			margin-left: 10px

.thumbs
	margin-top: 14px
	ul 
		display: grid
		grid-template-columns: repeat(6,1fr)
		grid-gap: 17px
	a 
		display: block
		height: 0
		text-decoration: none
		padding-bottom: 60%
		background-size: cover
		background-position: 50% 50%

.features
	margin-top: 38px
	display: grid
	grid-template-columns: repeat(3,1fr)
	grid-gap: 17px
	margin-bottom: 48px
	.feature
		&__title
			display: flex
			margin-bottom: 32px
		&__icon
			flex: 0
			margin-right: 18px
			.icon
				font-size: 46px
				fill: $orange-color
		h2 
			color: $orange-color
			text-transform: uppercase
			font-size: 18px
			line-height: 1.35
			flex: 1
			+bebas
		&__text
			margin-top: 32px
			font-size: 14px
			line-height: 1.5
			color: #414141
			margin-bottom: 24px
			padding-right: 20px
			p
				margin-bottom: 1em

.works
	display: grid
	grid-template-columns: repeat(4,1fr)
	grid-gap: 17px
	margin-bottom: 48px
	.work
		text-decoration: none
		&__image
			margin-bottom: 15px
			img 
				display: block
				min-width: 100%
		&__title
			font-size: 16px
			text-transform: uppercase
			font-weight: bold
			color: #b9b9b9
			margin-bottom: 6px
		&__bottom
			border: 1px solid #dbdbdb
			border-top: none
			padding: 15px
		&__date
			color: $orange-color
			font-size: 14px
			font-weight: bold
			text-transform: uppercase

	
