---
title: Index Page
---
extends layouts/_layout
block content

header.header
  .container
    .header__logo
      .logo
        .logo__part1 JET
        .logo__part2 RO
    .header__nav
      nav.nav
        a(href="#") HOME
        a(href="#") ABOUT US
        a(href="#") BLOG
        a(href="#") Portfolio
        a(href="#") CONTACT US

.hero
  .container
    .slider
      .slider__next
      .slider__prev
      .slider__slides
        .slider__slide(style="background: url(img/slide.jpg")

  h1 Index page
