---
title: Index Page
---
extends layouts/_layout
block content

  header.header
    .container
      .header__logo
        .logo
          .logo__part1 JET
          .logo__part2 RO
      .header__nav
        nav.nav
          a(href="#") HOME
          a(href="#") ABOUT US
          a(href="#") BLOG
          a(href="#") Portfolio
          a(href="#") CONTACT US

  .hero
    .container
      .slider
        .slider__next
        .slider__prev
        .slider__slides
          .slider__slide.slide(style="background: url(img/slide.jpg")
            .slide__content
              h3.slide__title
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
          .slider__slide.slide(style="background: url(img/slide.jpg")
            .slide__content
              h3.slide__title
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
          .slider__slide.slide(style="background: url(img/slide.jpg")
            .slide__content
              h3.slide__title
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

  .thumbs
    ul 
      li 
        a(href="#" style="background: url(img/thumb.jpg)")
      li 
        a(href="#" style="background: url(img/thumb.jpg)")
      li 
        a(href="#" style="background: url(img/thumb.jpg)")
      li 
        a(href="#" style="background: url(img/thumb.jpg)")

  .content
    .container
      .block
        .works
          h3 Recent Works
            .work
              .work__image
              .work__title Character Design
              .work__date June 15, 2012
            .work
              .work__image
              .work__title
              .work__date
            .work
              .work__image
              .work__title
              .work__date
            .work
              .work__image
              .work__title
              .work__date

  .footer
    .container
      .footer__col
        h2 About Jetro
        .footer__text
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem necessitatibus odio illum optio, nam totam.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, nihil vel quam quas explicabo fugiat nemo voluptas aliquam facilis aspernatur molestias ducimus odit culpa ratione!
      .footer__col
        h2 Twitter Widget
        .tweet
          .tweet__content
            a(href="#") Lorem ipsum 
            | dolor sit amet consectetur adipisicing elit. Deleniti, nulla!
          a(href="#").tweet__published
        .tweet
          .tweet__content
            | Lorem ipsum, 
            a(href="#") dolor sit amet 
            | consectetur adipisicing.
      .footer__col
        h2 Contact Us
        .footer__text
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi nihil, porro quo explicabo aliquid adipisci.
          p
            a(href="mailto:") Lorem@dolor.com
            br 
            a(href="#") sit amet.

  h1 Index page
