---
title: Index Page
---
extends layouts/_layout
block content

header.header
  .container
    .header__logo
      .logo
        .logo__part1 JET
        .logo__part2 RO
    .header__nav
      nav.nav
        a(href="#") HOME
        a(href="#") ABOUT US
        a(href="#") BLOG
        a(href="#") Portfolio
        a(href="#") CONTACT US

.hero
  .container
    .slider
      .slider__next
      .slider__prev
      .slider__slides
        .slider__slide.slide(style="background: url(img/slide.jpg")
          .slide__content
            h3.slide__title
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        .slider__slide.slide(style="background: url(img/slide.jpg")
          .slide__content
            h3.slide__title
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        .slider__slide.slide(style="background: url(img/slide.jpg")
          .slide__content
            h3.slide__title
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

.thumbs
  ul 
    li 
      a(href="#" style="background: url(img/thumb.jpg)")
    li 
      a(href="#" style="background: url(img/thumb.jpg)")
    li 
      a(href="#" style="background: url(img/thumb.jpg)")
    li 
      a(href="#" style="background: url(img/thumb.jpg)")

.footer
  .container
    .footer__col
      h2 About Jetro
      .footer__text

  h1 Index page
