---
title: Index Page
---
extends layouts/_layout
block content

  h1 Index page

  header.header
    .container
      .header__wrap
        .header__logo
          a(href="#").logo
            .logo__part1 JET
            .logo__part2 RO
        .header__nav
          nav.nav
            a(href="#") HOME
            a(href="#") ABOUT US
            a(href="#") BLOG
            a(href="#") Portfolio
            a(href="#") CONTACT US

  .hero
    .container
      .slider
        .slider__next
          +icon('arrow')
        .slider__prev
          +icon('arrow')
        .slider__slides.js-hero
          .slider__slide.slide(style="background: url(img/slide.jpg)")
            .slide__content
              h3.slide__title
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
          .slider__slide.slide(style="background: url(img/slide.jpg)")
            .slide__content
              h3.slide__title
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
          .slider__slide.slide(style="background: url(img/slide.jpg)")
            .slide__content
              h3.slide__title
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

  .thumbs
    ul 
      li 
        a(href="#" style="background: url(img/thumb.jpg)")
      li 
        a(href="#" style="background: url(img/thumb.jpg)")
      li 
        a(href="#" style="background: url(img/thumb.jpg)")
      li 
        a(href="#" style="background: url(img/thumb.jpg)")

  .content
    .container
      .features
        .feature
          .feature__title
            mixin icon
            .feature__icon
              +icon('cog')
            h2 Lorem ipsum dolor sit.
            p.feature__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio id qui nobis, dolore similique corrupti obcaecati fuga quasi facilis ut.
            a(href="#").feature__more.button More

            .feature
          .feature__title
            .feature__icon
              +icon('check')
            h2 Distinctio id qui nobis.
            p.feature__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio id qui nobis, dolore similique corrupti obcaecati fuga quasi facilis ut.
            a(href="#").feature__more.button More

            .feature
          .feature__title
            .feature__icon
              +icon('user')
            h2 Obcaecati fuga quasi.
            p.feature__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio id qui nobis, dolore similique corrupti obcaecati fuga quasi facilis ut.
            a(href="#").feature__more.button More

      .block
        .works
          h3.h3 Recent
            br 
            | Works
          .work
            .work__image
              img(src="img/work.jpg", alt="")
            .work__title Character Design
            .work__date June 15, 2012
          .work
            .work__image
              img(src="img/work.jpg", alt="")
            .work__title Character Design
            .work__date August 24, 2015
          .work
            .work__image
              img(src="img/work.jpg", alt="")
            .work__title Character Design
            .work__date August 24, 2015
          .work
            .work__image
              img(src="img/work.jpg", alt="")
            .work__title Character Design
            .work__date August 24, 2015

  .footer
    .container
      .footer__col
        h2 About Jetro
        .footer__text
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem necessitatibus odio illum optio, nam totam.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, nihil vel quam quas explicabo fugiat nemo voluptas aliquam facilis aspernatur molestias ducimus odit culpa ratione!
      .footer__col
        h2 Twitter Widget
        .tweet
          .tweet__content
            a(href="#") Lorem ipsum 
            | dolor sit amet consectetur adipisicing elit. Deleniti, nulla!
          a(href="#").tweet__published
        .tweet
          .tweet__content
            | Lorem ipsum, 
            a(href="#") dolor sit amet 
            | consectetur adipisicing.
      .footer__col
        h2 Contact Us
        .footer__text
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi nihil, porro quo explicabo aliquid adipisci.
          p
            a(href="mailto:") Lorem@dolor.com
            br 
            a(href="#") sit amet.


